@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
} 

body{
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #d72638;
    /*other colors wanted #3f88c5 , #C3BABA */
}

/*(reminder, Oswald for tiltes and roboto for text)*/

/* headings and logo */

h1, h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #d72638;
}

#logo {
    float: left;
    max-width: 70px;
    max-height: auto;
    margin-left: 5px;
    margin-top: 5px;
    filter: grayscale(25%);
}

/* nav links */

header{
    background-color: #222222;
    height: 80px;
}

#menu {
    font-size: 125%;
    letter-spacing: 3px;
    color: inherit;
}

#menu, #logo {
    line-height: 80px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 2px solid #3f88c5;
}

.active{
    border-bottom: 2px solid #3f88c5;    
}

/* Main Title Page */

#title{
    height: 600px;
    max-width: 100%;
    background: url(../image/mma-two-professional-fighters-punching-boxing-isolated-blue-wall-neon.jpg) no-repeat center center;
    background-color: #333333;
    opacity: 75%;
    margin: 0;
    padding: 0;
    background-size: 100%;
}

#title h1{
    font-size: 450%;
    letter-spacing: 5px;
    color: #d72638;

    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 200px;
}

#title h2{
    font-size: 200%;
    letter-spacing: 5px;
    color: #d72638;

    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
}
footer{
    background-color: #222222;
    height: 120px;
    max-width: 100%;
    overflow-x: hidden;
}