@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    font-size: 10px;
} 

#first-img {
  width: 100vw;
  height: auto;
}

body{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #d72638;
    
    /*other colors wanted #3f88c5 , #C3BABA */
}

/*(reminder, Oswald for tiltes and roboto for text)*/

/* headings and logo */
h1, h2{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #d72638;
    font-size: 2rem;
}
h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #c3baba;
}
p{ 
    font-family: "Roboto", sans-serif;
    color: #c3baba;
}
#logo {
    float: left;
    font-size: 90%;
    padding-left: 2.5rem;
    text-align: center;
}

.spacer{
    height: 6rem;
    width: 100%;
}
#container{
    color: #FFFFFF;
}
/* nav links */

header{
    background-color: #222222;
    height: 8rem;
}

#menu {
    font-size: 125%;
    letter-spacing: .3rem;
    color: inherit;
}

#menu, #logo {
    line-height: 8rem;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 1rem;
}

#menu a{
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

#menu a:hover{
    border-bottom: .2rem solid #3f88c5;
}

.active{
    border-bottom: .2rem solid #3f88c5;    
}
.social-networks{
    margin-top: 1rem;
}
/* Background images for all pages*/

.background{
    width: 100vw;
    height: 100%;
    
    height: auto;
}
.container-img{
        background-image: url(../image/w-qjCHPZbeXCQ-unsplash.jpg); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100%;
        background-color: #ee4152;
}
#title-img {
    width:100%;
    margin: 1rem auto;
    text-align: center;
}

/* Main Title Page */

#section-1{
    position: relative;
}

#title-txt{
    padding-bottom: 10rem;
}
#title-txt h1{
    font-size: 2rem;
    letter-spacing: .5rem;   
    text-align: center;
    margin: auto;
}

#title-txt h2{
    font-size: 1.2rem;
    letter-spacing: .5rem;
    text-align: center;
    margin: auto;
}

/* Info page */

#section-2{
    position: relative;
}

.info-style {
    background-color: #d72638;
    height: 30rem;
    width: 20rem;
    text-align: center;
    opacity: 90%;
    margin: auto;
    border: #222222 groove 2rem;
    margin-bottom: 2rem;
}

div > h3{
    font-size: 2.5rem;
    padding-top: .5rem;
}

#events {
    margin-bottom: 6rem ;
}
.list{
    color: #c3baba;
    font-size: 1.5rem;
    line-height: 3.8rem;
    list-style-type: none;
    padding: .25rem;
}
video{
    padding-top: 6rem;
}
.scroll{
    overflow: scroll;
}
/*times page*/
#section-3{
    position: relative;
}
#section-3 h2{
    font-size: 2.5rem;
    letter-spacing: .3rem;   
    text-align: center;
    margin: auto;
    color: #d72638;
    padding-top: 4rem;
    border-bottom: .2rem solid #c3baba;
}

#section-3 table, tr, th, td{
    color: #c3baba;
    height: 1rem;
}
#section-3 table{
    margin: auto;
}

th{
    background-color: #222222;
}
td{
    background-color: #3f88c5;
    font-weight: bold;
}
td, th{
    border: .3rem solid #c3baba;
    text-align: center;
    padding: .3rem;
}
table{
    table-layout: fixed;
    border: .5rem solid #c3baba;
    border-collapse: collapse;
    padding: 0.5rem;
    margin: auto;
}

#cost{
    margin-top: 3rem;
}

/*enquire page*/
#enquire-title{
    color: #d72638;
    font-size: 2.2rem;
    text-align: center;
    border-bottom: .2rem solid #d72638;
    padding-top: 1rem;
}
p{
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: #222222;
}
.enquire-info{
    color: #d72638;
    font-size: 2.2rem;
    text-align: center;
    border-bottom: .2rem solid #d72638;
    padding-top: 1rem;
}
form{
    color: #d72638;
    text-align: center;
    font-size: 1rem;
}
.border{
        border-style: solid;
        border-width: .1rem;
}
label{
    font-size: 1.8rem;
    font-weight: 600;
}    
input{
    height: 1.5rem;
}
#further-q{
    height: 5rem;
    overflow: scroll;
    font-size: 1.2rem;
}
.buttons{
    font-size: 1.5rem;
    border: #222222;
    border-width: .1rem;
    border-style: solid;
    height: 2rem;
    width: 10rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
}

.buttons:hover{
    background-color: #c3baba;
}
/*thank you page*/
#thankyou{
    padding-top: 5rem;
    text-align: center;
    width: 100%;
    height: 100vh;
}
.thankyou{
    font-size: 6rem;
    color: #d72638;
    border-bottom: none;
}
.bold{
    font-weight: 1000;
}
/* footer */
footer{
    height: 8rem;
    width: 100%;
    background: #222222;
    position: fixed;
    left: 0;
    bottom: 0;
    
}

.social-networks{
    text-align: center;
    padding: 1rem;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #3f88c5;
}
.fab:hover{
    opacity: 0.7;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    /*nav and social media links*/
    #menu a{
      text-decoration: none;
      color: inherit;
      font-size: 2rem;
    }
    #menu li{
      margin-right: 5rem;  
    }
    .social-networks{
        padding: 2rem;
    }
    .social-networks i{
        font-size: 3rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .container-img{
        height: 140vh;
    }
    /*index page*/
      h1, h2{
        font-size: 2.5rem;
      }
      #title-txt h1 {
        font-size: 3rem;
      }
      #title-txt h2 {
        font-size: 2rem;
      }
    /*info page*/
      .info-style{
          width: 80vw;
      }
      .info-style h3{
          font-size: 5rem;
      }
     video{
          padding-top: 3rem;
          width: 45%;
      }
      .list {
        font-size: 3rem;
        line-height: 4rem;
    }
    .txt-info{
        font-size: 3rem;
    }
    /*Times Page*/
    #section-3 h2{
        font-weight: 1000;
        font-size: 5rem;
        }
    #section-3 table, tr, th, td{
        height: 4rem;
        font-size: 2rem;
    }
    td, th{
       border: .5rem solid #c3baba;
       padding:.5rem;}
    table{
       table-layout: fixed;
       border: 2rem #c3baba groove;
       border-collapse: collapse;
       padding: 0.5rem;
       margin: auto;
    }
    /*enquire page*/
    #enquire-title{
        font-size: 5rem;
        padding-top: 4.5rem;
    }
    .enq-txt-info{
        font-size: 3rem;
    }
    .enquire-info{
        font-size: 4rem;
    }
    label{
        font-size: 3.5rem;
        font-weight: 600;
    }    
    input{
        height: 3rem;
        width: 25rem;
    }
    #further-q{
        height: 15rem;
        width: 25rem;
        font-size: 2.2rem;
    }
    .buttons{
        font-size: 2.2rem;
        height: 4rem;
        width: 15rem;
    }

    /*thankyou page*/
    .thankyou{
        margin-top: 10rem;
    }
}
@media screen and (min-width:1024px){
    /*nav and social media links*/
    .container-img{
        height: 145vh;
    }
    .social-networks{
        padding: 1.2rem;
        
    }
    .social-networks i{
    font-size: 4rem;
    padding-left: 7rem;
    padding-right: 7rem;
    }
    /*Info page*/
    .info-style{
        height: 40rem;
    }
    #about-us{
        margin-bottom: 2rem;
    }
    #main-tutor{
        margin-bottom: 2rem;
    }
    #main-tutor video{
        width: 55%;
        padding-top: 4rem;
    }
    .list{
        font-size: 4rem;
        line-height: 5.5rem;
    }
    .txt-info{
        font-size: 2.5rem;
    }
    /*Times Page*/
    #section-3 h2{
        font-size: 6.5rem;
        padding-top: 4rem;
        font-weight: 1000;
        color: #d72638;
}
    #section-3 table, tr, th, td{
        height: 4rem;
        font-size: 3rem;
}
    td, th{
       border: .5rem solid #c3baba;
       padding:.5rem;
}
    table{
       table-layout: fixed;
       border: 2rem #c3baba groove;
       border-collapse: collapse;
       padding: 0.5rem;
       margin: auto;
}
    #cost{
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    #cost p{
        font-size: 3rem;
    }
    #free-session{
        margin-bottom: 2rem;
    }
    #free-session p{
        font-size: 3rem;
    }
    /*enquire page*/
    #enquire-title{
        padding-top: 3rem;
        font-size: 5rem;
    }
    p{
        padding: 2rem;
        text-align: center;
        font-size: 1.5rem;
        color: #222222;
    }
    .enquire-info{
        font-size: 4rem;
    }

    label{
        font-size: 3rem;
        font-weight: 600;
    }    
    input{
        height: 2rem;
        width: 20rem;
        }
    #further-q{
        height: 15rem;
        font-size: 2.5rem;
    }
    .buttons{
        font-size: 2rem;
        height: 4rem;
        width: 15rem;
    }
    .enq-txt-info{
        font-size: 2.5rem;
    }
    /*thankyou page*/
    .thankyou{
    margin-top: 12rem;
    }
}
@media screen and (min-width:1280px){
    /*nav and social media links*/
    #menu a{
        text-decoration: none;
        color: inherit;
        font-size: 3rem;
      }
    #menu li{
        margin-right: 7rem;  
      }
    #logo h1{
        font-size: 3.5rem;
    }
    .social-networks{
        padding: .5rem;
      
    }
    .social-networks i{
        font-size: 5rem;
        padding-left: 12rem;
        padding-right: 12rem;
    }
    .container-img{
        height: 175vh;
    }
    /*index page*/
    #title-img img {
        height: 65rem;
        width: 65rem;
    }
    h1, h2{
      font-size: 3.5rem;
    }
    #title-txt h1 {
      font-size: 5rem;
    }
    #title-txt h2 {
      font-size: 4rem;
    }
    /*Info page*/
    #main-tutor{
        height: 60rem;
    }
    .info-style{
    height: 40rem;
    width: 70vw;
    }
    #main-tutor video{
        width: 60%;
    }
    .list{
        font-size: 4rem;
        line-height: 5.5rem;
    }
    .txt-info{
        font-size: 2.5rem;
    }
    /*Times Page*/
    #section-3 h2{
        font-size: 6.5rem;
        color: #d72638;
    }
    #section-3 table, tr, th, td{
        height: 2rem;
        font-size: 3rem;
    }
    td, th{
       border: .5rem solid #c3baba;
       padding:.5rem;
    }   
    table{
       table-layout: fixed;
       border: 2rem #c3baba groove;
       border-collapse: collapse;
       padding: 0.5rem;
       margin: auto;
    }
    #cost p{
        font-size: 2.2rem;
    }
    #free-session p{
        font-size: 2.2rem;
    }
    /*enquire page*/
    #enquire-title{
        font-size: 4rem;
    }
    p{
        font-size: 2.2rem;
    }
    .enquire-info{
        font-size: 3rem;
    }
    label{
        font-size: 3rem;
        font-weight: 600;
    }    
    input{
        height: 2rem;
        width: 20rem;
    }
    #further-q{
        height: 15rem;
        width: 25rem;
        overflow: scroll;
        font-size: 2rem;
    }
    .buttons{
        font-size: 1.8rem;
        height: 2.5rem;
        width: 15rem;
    }
    .enq-txt-info{
        font-size: 2.5rem;
    }
    /*thankyou page*/
    .thankyou{
        margin-top: 10rem;
        margin-bottom: 8rem;
    }
}

@media screen and (min-width:1850px) {
    .container-img{
        height: 190vh;
    }
}